 <!--Contact Form-->
 <div >
    <form action="/contacts/add" method="POST" class="d-flex justify-content-center mt-5" >
      <div class="card contact-card">
        <div class="card-body">
          <div class="mb-4">
            <label for="firstName" class="form-label">First Name</label>
            <%if (action == "add" ) {%>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
            <%} else {%>
            <%}%>  
          </div>
          <div class="mb-4">
            <label for="lastName" class="form-label">Last Name</label>
            <%if (action == "add" ) {%>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            <%} else {%>
            <%}%> 

          </div>
          <div class="mb-4">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <%if (action == "add" ) {%>
            <input type="tel" class="form-control" id="contactNumber" placeholder="(000)-000-0000">
            <%} else {%>
              <%}%>   
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <%if (action == "add" ) {%>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <%} else {%>
            <%}%> 
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">Message</label>      
            <textarea class="form-control" id="message" rows="3">
              <%if (action == "add" ) {%>
              <%}else{%>
              <%}%>
            </textarea>
          </div>

          <div class="text-center mx-auto">
            <button class="btn fw-bold rounded-5"  type="submit">
              <%if (action == "add" ) {%>
                Submit
              <%}else{%>
                Edit
              <%}%></button>
          </div>
        </div>
      </div>
    </form>
    
  </div>