<% include partials/header.ejs%>
<% include partials/main_nav.ejs %>

<!--<h1><%= title %></h1>
style="float: center;margin-top: 5rem;"
-->

<div class="about-me-card " >
    <div >
        <img src="/Assets/images/kugavathanan.png" alt="Kugavathanan" class="about-me-pic card rounded-circle" style="margin-left: 5rem;" >
    </div>
    <div>
        <div class="about-me-pic">
            <h2 class="card-title text-white">About Me</h2>
            
            <p class="text-white">
                I'm Kugavathanan Yohanathan.<br /> I have completed my Higher Diploma in SLIIT (Sri Lankan Institute of Information Technology, Sri Lanka) and my B.Sc. (Hons.) in Computer Science and Software Engineering at the University of Bedfordshire, United Kingdom. I have worked as an intern software engineer (1 year) and an associate software engineer (9 months) at CAMMS (CAM Management Solutions) in Sri Lanka.
                I'm currently pursuing the Post Graduate Diploma in Software Engineering Technology—Artificial Intelligence at Centennial College, Canada. I am trying to learn new things and get updated on new technologies.                
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
    </div>
</div>




<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
<!-- <a href="https://www.flaticon.com/free-icons/web-development" title="web development icons">Web development icons created by surang - Flaticon</a> -->
