<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
  <link rel='stylesheet' href='/content/stylesheets/about-me.css' />
</head>

<body>
  <header>
    <% include partials/nav.ejs %>
  </header>

  <main class="container cont-height">
    <h1 class="content-heading mb-5">About Me</h1>

    <div class="d-flex flex-column flex-lg-row align-items-center p-4">
      <div class="left">
        <div class="wrapper rounded-2">
          <img class="rounded-2" src="/assets/images/kugavathanan.png" alt="avatar">
        </div>
      </div>

      <div class="right d-flex flex-column align-items-center align-items-lg-start m-auto pt-5 ms-lg-5">
        <p>
          I have completed my Bachelor of Science (Hons) in Computer Science and Software Engineering at the University of Bedfordshire, United Kingdom.
          I have worked as a Software Engineer Trainee & Associate Software Engineer for 1 year 9 months at CAMMS Group in Sri Lanka.
          I'm currently pursuing the Post Graduate Diploma in Software Engineering Technology — Artificial Intelligence at Centennial College, Canada.
          I have a passion for building things that people love to use in their daily life.
        </p>
        <a class="resume-btn btn rounded-5" href="assets/doc/Yohanathan_Kugavathanan.pdf" target="_blank">Get Resume</a>
      </div>
    </div>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>

</html>