<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
  <link rel='stylesheet' href='/content/stylesheets/contact.css' />
</head>

<body>
  <header>
    <% include partials/nav.ejs %>
  </header>

  <main class="container cont-height">
    <h1 class="content-heading mb-5">Contact</h1>

    <h1 class="title text-center mb-3">Get In Touch</h1>
    <p class="text-center">I like to meet new people. Let's grab a coffee!</p>

    <!--Contact Card-->
    <div class="d-flex flex-column w-100 align-items-center my-4">
      <div class="flex-row">
        <!--Email-->
        <a class="navbar-brand mx-3" href="mailto:kugavathanan@outlook.com" target="_blank">
          <i class="fa-solid fa-envelope fa-2xl text-black logo"></i>
        </a>
        <!--Contact No-->
        <a class="navbar-brand mx-3" href="tel:+4733378901" target="_blank">
          <i class="fa-solid fa-phone fa-2xl text-black logo"></i>
        </a>
        <!--GitHub-->
        <a class="navbar-brand mx-3" href="https://github.com/Kuga-Yoha/" target="_blank">
          <i class="fa-brands fa-github fa-2xl text-black logo"></i>
        </a>
        <!--LinkedIn-->
        <a class="navbar-brand mx-3" href="https://lk.linkedin.com/in/kuga-yoha" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl text-black logo"></i>
        </a>
      </div>
    </div>

    <!--Contact Form-->
    <div class="d-flex justify-content-center mt-5">
      <div class="card contact-card">
        <div class="card-body">
          <div class="mb-4">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="mb-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="mb-4">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input type="tel" class="form-control" id="contactNumber" placeholder="(000)-000-0000">
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>

          <div class="text-center mx-auto">
            <button class="btn fw-bold rounded-5" onclick="onSubmitClicked()" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </main>


  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>

<script>
  function onSubmitClicked() {
    window.location = "/"
  }
</script>

</html>