<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
  <link rel='stylesheet' href='/content/stylesheets/home.css' />
</head>

<body>
  <header>
    <% include partials/nav.ejs %>
  </header>

  <main>
    <div class="content-wrapper container d-flex flex-column justify-content-center gap-4  cont-height">
      <h6 class="welcome-text">, I'm</h6>
      <h1 class="fw-bold lh-3">Kugavathanan</h1>
      <h2>I build web and mobile apps</h2>
      <h3>My mission is to be a Software Architect</h3>
      <p class="fw-normal">
        I'm a graduate student who is passionate on developing web and mobile apps.
        Recently worked as an Associate Software Engineer developing enterprise solutions.
        Also a tea lover ☕
      </p>
      <button class="contact-btn btn btn-outline-primary rounded-5" onclick="submitClicked()">
        Say Hello 👋
      </button>
    </div>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>

<script>
  function submitClicked() {
    window.location = "/contact-me"
  }
</script>

</html>