<% include partials/header.ejs%>
<% include partials/main_nav.ejs %>

<h1 class="page-title text-white projects-card-title">Projects</h1>

<div class="card w-50 projects-card">
    <img src="/Assets/images/apartments.png" alt="apartment" class="flat-logo"/>
    <div class="card-body">
      <h5 class="card-title">Apartment Management System</h5>
      <p class="card-text">Developed a web based application for an apartment as a part of undergraduate study. It consists of subsytems
        such as employee , owners , tenants , visitors and assets management systems.
        I was involved in developing the employee management system in it. 
        <p class="fw-light"> <b>Technologies: </b> JSP, HTML, CSS, JavaScript</p>      
      </p>
      
    </div>
  </div>
  <div class="card w-50 projects-card">
    <img src="/Assets/images/portfolio.png" alt="portfolio" class="flat-logo"/>
    <div class="card-body">
      <h5 class="card-title">My Portfolio Site</h5>
      <p class="card-text">A basic Portfolio site to potray my  professional related skills as well as projects.
        <p class="fw-light"><b>Technologies:</b> Node JS, EJS(Embedded Java Script) ,HTML, CSS</p>      
      </p>
      
    </div>
  </div>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
<!-- <a href="https://www.flaticon.com/free-icons/web-development" title="web development icons">Web development icons created by surang - Flaticon</a> -->
