<% include partials/header.ejs%>
<% include partials/main_nav.ejs %>


<h1 class="page-title text-white">Services</h1>

<div class="card w-50 projects-card">
    <img src="/Assets/images/coding-monitor.png" alt="apartment" class="flat-logo"/>
    <div class="card-body">
      <h5 class="card-title">Design + Development</h5>
      <p class="card-text">
        Clean and modern designs with better optimization for performance and search engines  
        <p class="fw-light"> </p>      
      </p>
      
    </div>
  </div>
  <div class="card w-50 projects-card ">
    <img src="/Assets/images/mobile.png" alt="portfolio" class="flat-logo"/>
    <div class="card-body">
      <h5 class="card-title">Mobile Friendly</h5>
      <p class="card-text">A responsive design makes your website accessible to all users, regardless of their device.
      </p>
      
    </div>
  </div>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
<!-- <a href="https://www.flaticon.com/free-icons/web-development" title="web development icons">Web development icons created by surang - Flaticon</a> -->
