<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <header>
    <% include partials/nav.ejs %>
  </header>


  <main class="container cont-height">
    <h1 class="content-heading mb-5">Services</h1>

    <div class="d-flex flex-column gap-5">
  <!--Service 1-->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/images/CRUD.png" class="img-fluid rounded-start" alt="cover-img">
          </div>
          <div class="col-md-8">
            <div class="card-body h-100 d-flex flex-column justify-content-evenly">
              <h5 class="card-title fs-4">Develop a Backend for Web Application</h5>
              <p class="card-text"> I can develop a CRUD backend RESTful API for any business scenarios and functionalities. I will apply clean coding practices throught the repository.</p>
              <p class="card-text"><small class="text-muted">Technologies: </b> Java, Spring Boot, Hibernate, MySQL</small></p>
            </div>
          </div>
        </div>
      </div>
<!--Service 2-->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body h-100 d-flex flex-column justify-content-evenly">
              <h5 class="card-title fs-4">Fixing Bugs</h5>
              <p class="card-text"> I work on fixing bugs on web applications. Some appications need few fixes to be done. 
                It is very important for business to get them fixed quickly at an affordable rate.</p>
              <p class="card-text"><small class="text-muted">Technologies: </b> Java, Spring Boot, Angular,Node JS, MySQL</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="/assets/images/bug.png" class="img-fluid rounded-end" alt="cover-img">
          </div>
        </div>
      </div>

    </div>
  </main>
  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>

</html>