<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <header>
    <% include partials/nav.ejs %>
  </header>

  <main class="container cont-height">
    <h1 class="content-heading mb-5">Projects</h1>

    <div class="d-flex flex-column gap-5">
      <!--Project 1 -->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/images/apartments.jpg" class="img-fluid rounded-start" alt="cover-img">
          </div>
          <div class="col-md-8">
            <div class="card-body h-100 d-flex flex-column justify-content-evenly">
              <h5 class="card-title fs-4">Apartment Management System</h5>
              <p class="card-text">Developed a web based application for an apartment as a part of undergraduate study.
                It consists of subsytems such as employee, owners, tenants, visitors and assets management systems.
                I was involved in developing the employee management system in it.</p>
              <p class="card-text"><small class="text-muted">Technologies: </b> JSP, HTML, CSS, JavaScript</small></p>
            </div>
          </div>
        </div>
      </div>
      <!--Project 2 -->
      <div class="card">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body h-100 d-flex flex-column justify-content-evenly">
              <h5 class="card-title fs-4">Portfolio site</h5>
              <p class="card-text">Developed a web based portfolio site for me. It consists of my details, achievements,projects completed and services offered by me. </p>
              <p class="card-text"><small class="text-muted">Technologies: </b> Node Js, EJS, HTML, CSS, JavaScript</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="/assets/images/portfolio.png" class="img-fluid rounded-end" alt="cover-img">
          </div>
        </div>
      </div>

    </div>

  </main>
  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>

</html>