<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <link rel='stylesheet' href='../../../content/stylesheets/contact.css' />
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>

  <main class="container cont-height">
    <h1 class="content-heading mb-5">Edit Contact</h1>
    <!--Contact Form-->

    <% include ../partials/contact_form.ejs %>
   
    
  </main>
  


  <footer>
    <% include ../partials/footer.ejs %>
  </footer>
</body>

<!-- <script>
  function onSubmitClicked() {
    window.location = "/"
  }
</script> -->

</html>